{% extends "sampling/base.html" %}

{% block head_content %}
    <title>Feed Laboratorio</title>
{% endblock %}


{% block container %}
    <div class="container p-4">
        <div class="row">
            <div class="col-12">
                 <p>Bienvenido {{ request.user }}</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
                <a href="{% url 'sampling:create_sampling' %}" type="button" class="btn btn-neumorphism-pry">Crear Solicitud de Muestra</a>
            </div>
        </div>
    </div>
{% endblock %}